<!DOCTYPE html>
<html>
  <head>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <title>傻蓝之家</title>
    <meta name="keywords" content="傻蓝之家">
    <meta name="description" content="傻蓝之家">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link rel="icon" href="/assets/shalan.ico" type="image/x-icon"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag '/application' , media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/slzj_css/new_table" %>
    <%= stylesheet_link_tag "/slzj_css/layout(1)" %>
    <%= stylesheet_link_tag "/slzj_css/layout" %>
    <%= stylesheet_link_tag "/slzj_css/home" %>
    <%= javascript_include_tag '/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
